

    <div class="user"><label>Bio:</label><%= @user.bio%></div>
    <div class = "edit"><%= link_to 'edit', "/users/#{@user.id}/edit"%></div>

    <%= form_tag '/logout', method: :delete do %>
      <%= submit_tag "Log Out!!" %>
    <%end%>
