

    <p>Choose Your Different Looks:</p>

    <div class="container">
      <% @styles.each do |style| %>
        <div class="description">
        <%= style.name %></div>

        <a id="image" href="<%= style_path(style)%>"><%=image_tag style.image_url %></a>
      <% end %>
    </div>
