body {
  padding-top: 70px;
}

img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

p {
  font-family: Raleway;
  margin-left: 1.66%;
  font-size: 23px;
  font-weight: bold;
  border-bottom: 3px solid #F1F1F1;
  width: 30%;
  padding-bottom: 20px;
  padding-left: 20px;
  letter-spacing: .05em;
}
 .navbar-inverse {
   font-weight: bold;
   letter-spacing: .1em;
 }

.list {
  font-size: 23px;
font-weight: bold;
}

h2  {
  text-align: center;
}

.show_image {
  align: center;
}
