h1  {
  text-align: center;
}


.user {
  font-size: 26px;
  text-align: center
}

#upload{
  padding-top: 10%;
  width: 20%;
}

#image {
  width: 50%;
  margin: 1.6%;
}

.form-group {
  width: 50%;
  font-weight: bold;
}
