// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  font-size: 26px;
  text-align: center;

}

.edit {

}

body {
  background-color: lightblue;
}
