<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>

    <!-- Navbar  -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><i class="fas fa-socks"></i>Stumblr</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-nav-demo">
          <ul class="nav navbar-nav">
            <li><a href="<%= styles_path %>">Styles</a></li>
            <li><a href="#">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="<%= new_user_path %>"> Sign Up</a></li>
            <li><a href="<%= new_session_path %>"> Log In</a></li>
          </ul>
          </div>
      </div>
    </nav>
    <h1>Welcome to Stumblr</h1>
      <div class="video">
        <video class="lpvideo" autoplay="" loop="" muted="" playsinline="" width="100%" height="auto" poster="https://images.allsaints.com/static/1200/280818-HP-WW-FILM-STILL.jpg"><source class="vid-source" src="https://player.vimeo.com/external/314300205.hd.mp4?s=51034d6d41dc370e092a02505380284f7fb6d758&amp;profile_id=174" type="video/mp4"><source class="vid-source" src="https://player.vimeo.com/external/314300205.hd.mp4?s=51034d6d41dc370e092a02505380284f7fb6d758&amp;profile_id=174" type="video/mp4">
        <p>Your browser doesn't support HTML5 video.<img src="https://images.allsaints.com/static/1200/280818-HP-WW-FILM-STILL.jpg"></p>
        </video>
      </div>
      <h2>New Spring Looks</h2>
      <div class="container three-image">
        <section class="three-image-row-container fadein fadein--wrapper hide-for-fadein">
        <div class="three-image-row fadein--hook fade-initial">
        <div class="three-image-row_item">
        <picture>
        <source media="(min-width: 768px)" data-srcset="https://images.allsaints.com/static/900/190130-Story1-WW-DT.jpg" srcset="https://images.allsaints.com/static/900/190130-Story1-WW-DT.jpg">
        <source media="(min-width: 300px)" data-srcset="https://images.allsaints.com/static/600/190130-Story1-WW-DT.jpg" srcset="https://images.allsaints.com/static/600/190130-Story1-WW-DT.jpg">
        <img data-adp-pattern="static/:width/" class=" lazyloaded" data-src="https://images.allsaints.com/static/900/190130-Story1-WW-DT.jpg" alt="Image of a woman standing in a street in LA wearing a long leopard print silk dress with black leather boots and bag." src="https://images.allsaints.com/static/900/190130-Story1-WW-DT.jpg">
        </picture>
        <div class="three-image-row_item--copy">
        </div>
        </div>
        <div class="three-image-row_item">
        <picture>
        <source media="(min-width: 768px)" data-srcset="https://images.allsaints.com/static/900/190130-Story2-WW-DT.jpg" srcset="https://images.allsaints.com/static/900/190130-Story2-WW-DT.jpg">
        <source media="(min-width: 300px)" data-srcset="https://images.allsaints.com/static/600/190130-Story2-WW-DT.jpg" srcset="https://images.allsaints.com/static/600/190130-Story2-WW-DT.jpg">
        <img data-adp-pattern="static/:width/" class=" lazyloaded" data-src="https://images.allsaints.com/static/900/190130-Story2-WW-DT.jpg" alt="Black and white portrait of a woman wearing a black leather biker jacket over a printed shirt." src="https://images.allsaints.com/static/900/190130-Story2-WW-DT.jpg">
        </picture>
        <div class="three-image-row_item--copy">
        </div>
        </div>
        <div class="three-image-row_item">
        <picture>
        <source media="(min-width: 768px)" data-srcset="https://images.allsaints.com/static/900/190130-Story3-WW-DT.jpg" srcset="https://images.allsaints.com/static/900/190130-Story3-WW-DT.jpg">
        <source media="(min-width: 300px)" data-srcset="https://images.allsaints.com/static/600/190130-Story3-WW-DT.jpg" srcset="https://images.allsaints.com/static/600/190130-Story3-WW-DT.jpg">
        <img data-adp-pattern="static/:width/" class=" lazyloaded" data-src="https://images.allsaints.com/static/900/190130-Story3-WW-DT.jpg" alt="Image of a woman standing in the street wearing a checked blazer with a striped t-shirt, light denim jeans and black leather boots." src="https://images.allsaints.com/static/900/190130-Story3-WW-DT.jpg">
        </picture>
        <div class="three-image-row_item--copy">
        </div>
        </div>
        </div>
        </section>
      </div>



    <script src="js/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
